@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-gray-300;
}


.textarea-shadow{
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.05);
}
.btn-shadow{
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.05);
}

.blue-gradient{
  background: linear-gradient(180deg, #2D66F8 0%, #2A5EE6 52.08%, #2554CC 100%);
 box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.25), 0px 0.5px 0.5px rgba(16, 24, 40, 0.2)
}